table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
  }
  table td {
    padding: 1rem;
    border: 2px solid black;
  }

td{
    text-align: center;
}

th{
    text-align: center; 
}