body{
    background-color: antiquewhite;
}

.divtable{
    /* margin-top:200px;
    margin-left:200px; */
    height: 10px;
}
.heading{
    margin-left: 37%;
}
.container{
    margin-top:4%;
}
.divhead{
    padding:17px;
}
a{
    text-decoration: none;
    color:white;
}
.binbutton{
    float: right;
    padding: 7px 30px 10px 27px;
}


